<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="estilo.css" rel="stylesheet"/>
    </h:head>
    <body>
        <div>TODO Falta implementar</div>
        <br/><br/>
                            
        <h:outputLink value="home.xhtml" title="home">
            <p:button value="Tela inicial"/>
        </h:outputLink>
    </body>
</html>
