<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Cadastro - Leilão Web de Energia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="estilo.css" rel="stylesheet"/>
    </h:head>
    <body>
        <h1>Leilão Web de Energia</h1>
        <h:form id="cadastroForm" style="width: 40%; margin: auto">
            <!--TODO: Centralizar o formulario de forma que nao fique muito largo-->
            <p:panel id="panelCadastro" header="Cadastro" style="margin-bottom:10px;" >
                <p:messages id="messages" />
                <h:panelGrid columns="3" cellpadding="5" style="margin: auto">
                    
                    <p:outputLabel for="nome" value="Nome: " />
                    <p:inputText id="nome" value="#{cadastroController.nome}" required="true" label="Nome">
                        <f:validateLength minimum="5" />
                    </p:inputText>
                    <p:message for="nome" />

                    <p:outputLabel for="email" value="Email: " />
                    <p:inputText id="email" value="#{cadastroController.email}" required="true" label="Email"/>
                    <p:message for="email" />

                    <p:outputLabel for="pais" value="Pais: " />
                    <p:inputText id="pais" value="#{cadastroController.pais}" required="true" label="Pais"/>
                    <p:message for="pais" />

                    <p:outputLabel for="instituicao" value="Instituicao: " />
                    <p:inputText id="instituicao" value="#{cadastroController.instituicao}" required="true" label="Instituicao"/>
                    <p:message for="instituicao" />
                    
                </h:panelGrid>
            </p:panel>

            <p:toolbar>
                <f:facet name="left">
                    <p:commandButton value="Limpar" style="margin-top:4px;" >
                        <p:ajax update="panelCadastro" resetValues="true"/>
                    </p:commandButton>
                </f:facet>
                
                <f:facet name="right">
                    <!--TODO: Mostrar mensagem de efetuando cadastro durante o processo-->
                    <p:commandButton value="Enviar" update="panelCadastro" actionListener="#{cadastroController.cadastrar}" style="margin-top:5px;" />
                </f:facet>
            </p:toolbar>
        </h:form>
        
        <br/>
        <h:outputLink value="index.xhtml" title="Login">
            <!--<p:commandButton  value="Login" style="margin-top:5px;" />-->
            <p:button value="Login" icon="ui-icon-arrowthick-1-w"/>
        </h:outputLink>
        
    </body>
</html>
