/*html{
    text-align: center;
} */
#loginForm #cadastroForm ui-form{
    width: 30%;
}

html
{
    text-align: center;
    margin: auto;
/*    margin-left: auto;
    margin-right: auto;*/
}

#menu-lateral .ui-button{
    width: 130px;
}