<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Leilão Web de Energia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="estilo.css" rel="stylesheet"/>
    </h:head>
    <h:body>
        <h1>Leilão Web de Energia</h1>
        
        <!--<p:layout style="min-width:400px;min-height:200px;">-->
        <p:layout style="width: 1000px; margin: auto;">
            <p:layoutUnit position="north"  >
                <p:panelGrid>
                    <!--TODO: Usar dados da sessão-->
                    <p:row>
                        <p:column rowspan="3">
                            <img src="img/user.png" height="80" alt="user"/>
                        </p:column>

                        <p:column> Nome Sobrenome </p:column>
                    </p:row>

                    <p:row>
                        <p:column> Instituição - País </p:column>
                    </p:row>

                    <p:row>
                        <p:column> 
                            <h:outputLink value="index.xhtml" title="logout">
                                Sair
                            </h:outputLink>
                        </p:column> 
                    </p:row>
                </p:panelGrid>
            </p:layoutUnit>
            
            <p:layoutUnit position="west" minSize="150" id="menu-lateral">                    
                <h:outputLink value="home.xhtml" title="home">
                    <p:button value="Tela inicial"/>
                </h:outputLink>
                <br/><br/>
                    
                <h:outputLink value="leiloes.xhtml" title="leiloes">
                    <p:button value="Leilões"/>
                </h:outputLink>
                <br/><br/>
                    
                <h:outputLink value="contatos.xhtml" title="contatos">
                    <p:button value="Contatos"/>
                </h:outputLink>
                <br/><br/>
                    
                <h:outputLink value="convidar.xhtml" title="convidar">
                    <p:button value="Convidar"/>
                </h:outputLink>
                <br/><br/>
                    
                <h:outputLink value="conta.xhtml" title="conta">
                    <p:button value="Conta"/>
                </h:outputLink>
                <br/><br/>
                    
                <h:outputLink value="ajuda.xhtml" title="ajuda">
                    <p:button value="Ajuda"/>
                </h:outputLink>                    
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <h1 style="font-size: larger"> Tela inicial </h1>
                <p:dataTable value="#{homeController.mensagens}" var="mensagem">
                    <p:column headerText="Mensagens">
                        <h:outputText value="#{mensagem}" />
                    </p:column>
                </p:dataTable>
                <br/>
                
                <p:dataTable value="#{homeController.convites}" var="convite">
                    <p:column headerText="Convites">
                        <h:outputText value="#{convite}" />
                    </p:column>
                </p:dataTable>
                <br/>
                
                <p:dataTable value="#{homeController.leiloes}" var="leilao">
                    <p:column headerText="Leiloes ativos">
                        <h:outputText value="#{leilao.nome} #{leilao.dataInicio}" />
                    </p:column>
                </p:dataTable>
                <br/>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>
