<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <title>Login - Leilão Web de Energia</title>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <link href="estilo.css" rel="stylesheet"/>
        </f:facet>
    </h:head>

    <h:body>
        <h1>Leilão Web de Energia</h1>
        <h:form id="loginForm" style="width: 40%; margin: auto;">  
            <p:panel id="loginPanel" header="Login" style="margin-bottom:10px " >
                <p:messages id="messages" />
                <h:panelGrid columns="2" cellpadding="5" style="margin-left:auto; margin-right:auto; margin-bottom: 5px">
                    <h:outputLabel for="email" value="Email: " />
                    <p:inputText id="email" value="#{loginController.email}" required="true" label="email" />

                    <h:outputLabel for="senha" value="Senha: " />
                    <p:password id="senha" value="#{loginController.senha}" required="true" label="senha" />
                </h:panelGrid>
                <!--TODO: Login redireciona para home, mas url ainda eh "index.xhtml"-->
                <!--TODO: Adcionar sessao aa pagina-->
                <p:commandButton value="Logar" update="loginPanel" action="#{loginController.logar()}"/>
            </p:panel>
        </h:form>
        
        <br/><br/>
        <h:outputLink value="cadastro.xhtml" title="cadastro">
            <p:button value="Cadastrar"/>
        </h:outputLink>
        <br/><br/>
        <h:outputLink value="recuperarSenha.xhtml" title="recuperarSenha">
            <p:button value="Recuperar Senha"/>
        </h:outputLink>
        <br/><br/>
        <h:outputLink value="home.xhtml" title="home">
            <p:button value="Home"/>
        </h:outputLink>
        <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
            
        <h:form>
            <br/><br/>
            <h:outputLink title="pontapeInicial">
                <p:commandButton value="Pontape Inicial" actionListener="#{loginController.pontapeInicial}"/>
            </h:outputLink>
        </h:form>

    </h:body>
</html>