<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Recuperar senha - Leilão Web de Energia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="estilo.css" rel="stylesheet"/>
    </h:head>
    <body>
        <h1>Leilão Web de Energia</h1>
        <h:form id="form" >
            <p:panel id="panel" header="Recuperar senha " style="width: 40%; margin: auto;">
                <p:messages id="messages" />
                <p>Digite seu email para obter uma nova senha</p>
                <br/>
                <h:panelGrid columns="3" cellpadding="5" style="margin: auto">
                    <p:outputLabel for="email" value="Email: " />
                    <p:inputText id="email" value="#{recuperarSenhaController.email}" required="true" label="Email"/>
                    <p:message for="email" />
                </h:panelGrid>
            </p:panel>

            <p:toolbar style="width: 40%; margin: auto; margin-top: 5px;">
                <f:facet name="left">
                    <p:commandButton value="Limpar" style="margin-top:4px;" >
                        <p:ajax update="panel" resetValues="true"/>
                    </p:commandButton>
                </f:facet>
                
                <f:facet name="right">
                    <p:commandButton  value="Solicitar" update="panel" actionListener="#{recuperarSenhaController.recuperarSenha()}" style="margin-top:5px;" />
                </f:facet>
            </p:toolbar>
        </h:form>
        
        <br/>
        <h:outputLink value="index.xhtml" title="Login">
            <!--<p:commandButton  value="Login" style="margin-top:5px;" />-->
            <p:button value="Login" icon="ui-icon-arrowthick-1-w"/>
        </h:outputLink>
    </body>
</html>
