<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Sistema de leilão
        <br />
        <h:form id="Login" >
            <p:growl id="growl" showDetail="true" sticky="true" /> 
            <h:panelGrid columns="2" cellpadding="10">            
                <p:outputLabel value="Email:" /> <p:inputText value='#{Login.email}' required="true" requiredMessage="Preencha seu nome."/>
                <p:outputLabel value="Senha:" />  <p:password value='#{Login.senha}' required="true" requiredMessage="Preencha sua senha."/>
                <br />
                <p:commandButton value="Entrar" actionListener="#{Login.logar()}" update="@form" />
            </h:panelGrid>
         </h:form>
        <br />
        <p:link href="cadastro.xhtml" value="Primeira vez? Faz seu cadastro." />
        <p:link href="senha.xhtml" value="Esqueci a senha." />
    </h:body>
</html>

